<div class="profile-page">
  <br><br>
    <div class="">
      <div class="page-header page-header-small">
        <div class="page-header-image mt-10%" style="background-image: url('assets/images/intro.jpg');">
          <div class="container">
            <div class="content-center text-center">
              <div class="cc-profile-image">
                <a href="#">
                  <img class="mx-auto d-block" style="border-radius: 50%; min-height: 70;" src="assets/images/profile.jpg" alt="Image" />
                  <!-- <img class="mb-5 d-block mx-auto h-15% " style="border-radius: 50%;" src="assets/images/profile.jpg" alt=""> -->
                </a>
              </div>
              <div class="h2 title text-white ">Chandrasekhar Mullangi</div>
              <p class="category text-white">Looking For Fresher Angular Developer</p>
              <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor">Hire Me</a>
              <a class="btn btn-primary"
                href="https://docs.google.com/document/d/16Vi2eCb8WkH6YGn3xXw56F0leVXPVgANCJe75o3QdJI/edit?usp=sharing" target="_blank"
                data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            </div>
          </div>
          <br>
          <br>
          <div class="section" style="background-color: lightgoldenrodyellow;">
            <div class="container text-center">
              <div class="button-container ">
                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/profile.php?id=100010025739371"
                  target="_blank" rel="tooltip" title="Follow me on Facebook">
                  <i class="fa fa-facebook "></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/sekharreddy2020/"
                  target="_blank" rel="tooltip" title="Follow me on Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/chandrasekhar-mullangi-66b6a2129"
                  target="_blank" rel="tooltip" title="Follow me on Linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/mcsreddy555"
                  target="_blank" rel="tooltip" title="Follow me on Github">
                  <i class="fa fa-github"></i>
                </a>
                
                <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip"
                  title="Follow me on Google+">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
