<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
            <div class="row">
            
            
                <div class="col-md-4 col-sm-6">
                    <div class="blog-entry">
                        <div class="card" >
                            <img class="card-img-top" src="assets/images/angular-portfolio1.PNG" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Personal Portfolio Using Angular8</h4>
                                <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
                                <a href="https://github/mcsreddy555/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                                <a href="https://github.com/mcsreddy555/angular-portfolio" class="btn btn-primary stretched-link">GithubLink</a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6">
                    <div class="blog-entry">
                        <div class="card" >
                            <img class="card-img-top"src="assets/images/ecommerce-angular.PNG" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Simple Ecommerce Application Using Angular8</h4>
                                <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
                                <a href="https://github/mcsreddy555/" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
                                <a href="https://github.com/mcsreddy555/" class="btn btn-primary stretched-link">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="blog-entry">
                        <div class="card" >
                            <img class="card-img-top" src="assets/images/github-2.PNG" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Github User Search Application Using Angular8</h4>
                                <h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap3 </h5>
                                <a href="https://github.com/mcsreddy555" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                                <a href="https://github.com/mcsreddy555/" class="btn btn-primary stretched-link">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-4 col-sm-6">
                    <div class="blog-entry">
                        <div class="card" >
                            <img class="card-img-top" src="assets/images/ecommerce-django.PNG" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Simple Ecommerce Application Using Django</h4>
                                <h5 class="card-text"><b>Technology :</b> Django,Python,Bootstrap3 </h5>
                                <a href="https://github.com/mcsreddy555" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                                <a href="https://github.com/mcsreddy555" class="btn btn-primary stretched-link">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-4 col-sm-6">
                    <div class="blog-entry">
                        <div class="card" >
                            <img class="card-img-top" src="assets/images/project3.PNG" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Single Page Application Using Angular8</h4>
                                <h5 class="card-text"><b>Technology :</b> Angular8, CSS</h5>
                                <a href="https://github.com/mcsreddy555" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                                <a href="https://github.com/mcsreddy555" class="btn btn-primary stretched-link">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="blog-entry">
                        <div class="card" >
                            <img class="card-img-top" src="assets/images/portfolio-django.PNG" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Personal Portfolio Using Django</h4>
                                <h5 class="card-text"><b>Technology :</b> Django, Html5, Bootstrap3 </h5>
                                <a href="https://github.com/mcsreddy555?tab=repositories" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                                <a href="https://github.com/mcsreddy555?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
               
                
            
            
            
            
            </div>
        </div>
  </div>